<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="system.diagnostics" type="System.Diagnostics.SystemDiagnosticsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\LibraryServices.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>

	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="65536" />
		<authentication mode="Forms">
			<forms loginUrl="~/Presentation%20Layer/Member/Login.aspx" defaultUrl="~/Presentation%20Layer/Public/Default.aspx" timeout="30" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add name="svc-Integrated" path="*.svc" verb="*" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>

	<!-- Allow anonymous access to services -->
	<location path="Service Layer">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

		<services>
			<!-- Book Storage Service Configuration -->
			<service name="LibraryManagementSystem.Service_Layer.Book_Storage_Service.BookStorage" behaviorConfiguration="StorageServiceBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="RESTBinding" contract="LibraryManagementSystem.Service_Layer.Book_Storage_Service.IBookStorage" behaviorConfiguration="RESTEndpointBehavior" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<!-- Book Search Service Configuration -->
			<service name="LibraryManagementSystem.Service_Layer.Book_Search_Service.SearchService" behaviorConfiguration="SearchServiceBehavior">
				<endpoint address="" binding="webHttpBinding" bindingConfiguration="RESTBinding" contract="LibraryManagementSystem.Service_Layer.Book_Search_Service.ISearchService" behaviorConfiguration="RESTEndpointBehavior" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="StorageServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentInstances="500" maxConcurrentSessions="500" />
				</behavior>
				<behavior name="SearchServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceThrottling maxConcurrentCalls="500" maxConcurrentInstances="500" maxConcurrentSessions="500" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="RESTEndpointBehavior">
					<webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
				</behavior>
			</endpointBehaviors>
		</behaviors>

		<bindings>
			<webHttpBinding>
				<binding name="RESTBinding" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00" receiveTimeout="00:05:00">
					<readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxDepth="64" />
					<security mode="None">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
	</system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>